<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="Cucumber.Firsttrack.Listener"/>
</listeners>
  <test name="Test">
  <classes>
  
  <class name="CucumberOptions.TestRunner"/>
  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
